:root {
  --color-primary-white: #fff;
  --color-primary-blue: #003e80;
  --color-secondary-gray: #f2f2f2;

  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.5rem;
  --spacing-extra-large: 2rem;
  --spacing-xxl: 4rem;

  --font-size-extras-small: 0.5rem;
  --font-size-small: 0.8rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.2rem;
  --font-size-extra-large: 1.5rem;
  --font-size-xxl: 2rem;

  --gap: 1rem;
}
